<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css', _external=True) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home/style.css', _external=True) }}">
        {% block head %}
        <title>首页</title>
        {% endblock %}
    </head>
    <body>
    <!-- 页面头部 -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('.index') }}">首页</a></li>
                <li><a href="{{ url_for('.recommend') }}">推荐</a></li>
                <li><a href="{{ url_for('.type', name='国内') }}">国内</a></li>
                <li><a href="{{ url_for('.type', name='军事') }}">军事</a></li>
                <li><a href="{{ url_for('.type', name='娱乐') }}">娱乐</a></li>
                <li><a href="{{ url_for('.type', name='体育') }}">体育</a></li>
            </ul>
        </nav>
    </header>
    <!-- /页面头部 -->
    <!-- 新闻内容部分 -->
    <article>
       {% block content %}
      <!-- 内容区域 -->
      {% endblock  %}
    </article>
    <!-- /新闻内容部分 -->
    {% block extrajs %}
    <!-- 其它脚本 -->
    {% endblock  %}
    </body>
</html>